version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ET3  # Define the database to be created
    ports:
      - "3307:3306"  # Expose MySQL port to the host
    networks:
      - app-network

  app:
#    image: spring-boot-app  # Replace with your Spring Boot app image
    build: .
    container_name: spring-app
    ports:
      - "7777:7777"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
#  docker-compose up --build  # Rebuild and start again